<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Neues Spiel</h4>
</div>
<div class="modal-body">
    <div class="container">
        <form>
            <div class="row mb-3">
                <label for="inputNumberOfPlayer" class="col-4 col-form-label">Spieler</label>
                <div class="col-8">
                    <input type="number" class="form-control" id="inputNumberOfPlayer" name="InputNumberOfPlayer" [(ngModel)]="players.length">
                </div>
            </div>
            <div *ngFor="let player of players; let i = index"  class="row mb-3">
                <label class="col-4 col-form-label">Spieler {{i + 1}}</label>
                <div class="col-8">
                    <input type="text" class="form-control" [id]="'inputPlayer' + i" [name]="'inputPlayer' + i">
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close(null)">Abbrechen</button>
    <button type="submit" class="btn btn-primary" (click)="activeModal.close(0)">Neues Spiel starten</button>
</div>