<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sechser</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <button type="button" class="btn btn-success mybtn" (click)="modal.close(6)">6</button>
        <button type="button" class="btn btn-success mybtn" (click)="modal.close(12)">12</button>
        <button type="button" class="btn btn-success mybtn" (click)="modal.close(18)">18</button>
        <button type="button" class="btn btn-success mybtn" (click)="modal.close(24)">24</button>
        <button type="button" class="btn btn-success mybtn" (click)="modal.close(30)">30</button>
        <button type="button" class="btn btn-success mybtn" (click)="modal.close(36)">36</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(null)">Leeren</button>
    <button type="button" class="btn btn-danger" (click)="modal.close(0)">Streichen</button>
  </div>
</ng-template>

<div class="row">
  <div class="col headColumn">
    <div class="table-responsive">
      <table class="table table-bordered table-sm tablePlayer">
        <thead>
          <tr class="playerHead">
            <td>{{player.Name}}</td>
          </tr>
        </thead>
        <tbody>
          <tr class="playerRow">
            <td>{{player.Einer}}</td>
          </tr>
          <tr class="playerRow">
            <td>{{player.Zweier}}</td>
          </tr>
          <tr class="playerRow">
            <td>{{player.Dreier}}</td>
          </tr>
          <tr class="playerRow">
            <td>{{player.Vierer}}</td>
          </tr>
          <tr class="playerRow">
            <td>{{player.Fuenfer}}</td>
          </tr>
          <tr class="playerRow">
            <td class="playerCell" (click)="onSechser(content)">{{player.Sechser}}</td>
          </tr>
          <tr class="playerRow playerRowCalculated">
            <td class="playerCell">{{player.Bonus}}</td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow2">
            <td class="playerCell"></td>
          </tr>

          <tr class="playerRow playerRowCalculated">
            <td class="playerCell">{{player.Summe}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>