<table class="table-bordered tablePlayer">
    <thead>
        <tr class="playerHead">
            <td>{{player.Name}}</td>
        </tr>
    </thead>
    <tbody>
        <tr class="playerRow">
            <td>{{player.Einer}}</td>
        </tr>
        <tr class="playerRow">
            <td>{{player.Zweier}}</td>
        </tr>
        <tr class="playerRow">
            <td>{{player.Dreier}}</td>
        </tr>
        <tr class="playerRow">
            <td>{{player.Vierer}}</td>
        </tr>
        <tr class="playerRow">
            <td>{{player.Fuenfer}}</td>
        </tr>
        <tr class="playerRow">
            <td>{{player.Sechser}}</td>
        </tr>


    </tbody>
</table>