table {
    font-size: small;
}

thead {
    font-weight: bold;
}

.headInfo {
    font-size: x-small;
}

.field {
    font-size: medium;
    font-weight: bold;
}

thead, tbody tr {
    display:table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: calc(100vh - 105px);
}

thead tr th,
tbody tr th {
    width: 130px;
}

.bonus {
    background-color:antiquewhite;
}

.summe {
    background-color:antiquewhite;
    font-weight: bold;
}

.top {
    vertical-align: top;
}

.back {
    font-size: 25px;
    cursor: pointer;
  }
