<div class="container">
    <div class="row">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th class="text-center">
                        <span class="back" (click)="back()">
                            <i class="bi bi-arrow-left"></i>
                        </span>
                    </th>
                    <td class="text-center top" *ngFor="let p of scoreboard.player">
                        <div class="">{{p.name}}</div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of scoreboard.targets" class="{{t.type}}">
                    <th>
                        <div class="headName">{{t.name}}</div>
                    </th>
                    <td *ngFor="let f of t.fields" class="text-center align-middle p-0 field">
                        <div>
                            {{f.text}}
                            <div *ngIf="f.score != 0; else elseBlock">{{f.score}}</div>
                            <ng-template #elseBlock>/</ng-template>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>