<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'.'">Kniffel Extreme</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="onNewGame()">Neues Spiel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th></th>
                <td class="text-center" *ngFor="let p of scoreboard.player">{{p.name}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of scoreboard.targets" class="{{t.type}}">
                <th>
                    <div class="headName">{{t.name}}</div>
                    <div class="headInfo">{{t.info}}</div>
                </th>
                <td *ngFor="let f of t.fields" class="text-center align-middle" (click)="onClick(f)">
                    <div>
                        {{f.text}}
                        <div *ngIf="f.score != 0; else elseBlock">{{f.score}}</div>
                        <ng-template #elseBlock>/</ng-template>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>