/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.tablePlayer {
    float:left;
}

.playerHead {
    font-size: small;
    font-weight: bold; 
    height: 30px;
}

.playerRow {
    text-align: center;
    height: 30px;
}

.playerRow2 {
    text-align: center;
    height: 42px;
}

.playerRowCalculated {
    background-color: lightgray;
}

.headHead {
    font-size: small;
    height: 30px;
}

.headRow {
    background-color: lightgray;
    height: 30px;
}

.headRow2 {
    background-color: lightgray;
    height: 42px;
}

.headName {
    font-size: small;
    font-weight: bold;
}
.headInfo {
    font-size: xx-small;
}

.headColumn {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.playerCell {
    padding: 0 !important;
}